DATABASE_URL=postgresql://postgres:postgres@localhost:5432/blejta?schema=public
PORT=7058
JWT_SECRET=supersecret_jwt_key_change_in_production
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@your_cloud
SMS_API_KEY=your_sms_key
